<div class="app-container">
  <!--navbar-->
  <%= render "layouts/navbar"%>
  <!--content-->
  <%= render "layouts/sidebar"%>
</div>
<!--posts-->
<div class="posts search-list">
  <div class="timeline">
    <div class="view view-post-container smaller-margin">
      <div class="wrapper">
        <div class="shortcuts shortcuts-2">
          <div class="second-col">
            <div class="online search-online">
              <h6 class="title search-title">
                People
              </h6>
              <% @search_user.each do |user| %>
                <div class="user search-user">
                  <div class="profile">
                    <%= image_tag 'avatar/unknown.jpeg', alt: ""%>
                  </div>
                  <h4><%= user.nickname %>
                  </h4>
                  <% if current_user.friend_status(user.id) == "friend"%>
                    <div class="friend-follow">
                      <%= image_tag 'posts/messenger.png', alt: "" %>
                    </div>
                  <% elsif current_user.friend_status(user.id) == "not followed" %>
                    <div class="friend-follow">
                      <%= image_tag 'posts/add_friend.png', alt: "" %>
                      <%= link_to "Add", send_friend_request_path(:id => user.id)%>
                    </div>
                  <% else %>
                    <div class="friend-follow">
                      <%= image_tag 'posts/delete_request.png', alt: "" %>
                      <%= link_to "Delete", cancel_friend_request_path(:id => user.id)%>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
