<div class="form-box edit-form-box">
  <%= form_with(model: post, url: posts_path) do |form| %>
    <%= image_tag post.image, class: "desc-image"%>
    <div class="field">
      <%= form.file_field :image %>
    </div>
    <div class="field">
      <%= form.text_area :content, value: post.content %>
    </div>
    <div class="field">
      <%= form.number_field :user_id, id: :post_user_id,  value: current_user.id, type: "hidden"%>
    </div>
    <div class="field">
      <%= form.number_field :parent_id, id: :parent_id,  value: @parent_id, type: "hidden"%>
    </div>
    <%= form.submit 'Update this post', :class => "edit-submit" %>
  <% end %>
</div>
