<div class="wrapper search-wrapper">
  <div class="shortcuts search-shortcuts">
    <div class="second-col search-col">
      <h6 class="title">
        Search results
      </h6>
      <div class="menu-item active">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/feed.png', alt: ""%>
          </div>
          <h4>All </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/post.png', alt: ""%>
          </div>
          <h4>Posts </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/friends.png', alt: ""%>
          </div>
          <h4>People </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/image.png', alt: ""%>
          </div>
          <h4>Photos </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/youtube.png', alt: ""%>
          </div>
          <h4>Videos </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/retail.png', alt: ""%>
          </div>
          <h4>Marketplace </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/report.png', alt: ""%>
          </div>
          <h4>Pages </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/place.png', alt: ""%>
          </div>
          <h4>Places </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/group.png', alt: ""%>
          </div>
          <h4>Groups </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'search/event.png', alt: ""%>
          </div>
          <h4>Events </h4>
        </div>
      </div>
    </div>
  </div>
</div>
